[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-vividchalk"]
	path = .vim/bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
