[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = http://repo.or.cz/r/vcscommand.git
